<section class="container mx-auto mt-8 relative">
  <section class="w-full shadow-lg">
    <ng-content select="[banner-image]"></ng-content>
  </section>
  <section class="absolute top-10 left-10">
    <ng-content select="[banner-heading]"></ng-content>
  </section>

  <!-- <img
    [src]="image"
    [alt]="alttext"
    data-title="{{ alttext }}"
    class="w-full shadow-lg"
    [ngClass]="{ 'rounded-md': rounded }"
  /> -->
  <!-- <h1
    (click)="headingClickHandler($event)"
    *ngIf="heading; else headingFallback"
    [ngClass]="headingClass"
    [ngStyle]="headingStyle()"
  >
    {{ heading }}
  </h1> -->
</section>
