<form [formGroup]="personal">
  <input
    type="text"
    placeholder="Username"
    class="w-full p-2 border rounded-md"
    formControlName="username"
  />
  <input
    type="email"
    placeholder="Email"
    class="w-full p-2 border rounded-md"
    formControlName="email"
  />
  <input
    type="password"
    placeholder="Password"
    class="w-full p-2 border rounded-md"
    formControlName="password"
  />
  <input
    type="password"
    placeholder="Confirm Password"
    class="w-full p-2 border rounded-md"
    formControlName="confirmPassword"
  />
</form>
